extends layout

block content
  section(class= "main")
    br
    a(href= "/hymn") 찬송가
    br
    a(href= "/bible") 성경
    br
    a(href= "/lord_prayer") 주기도문
    br
    a(href= "/apostolic_creed") 사도신경
    br
    a(href= "/builder") 프리젠테이션

block controls

block script