extends layout

block content
  section
    h2 #{title}
    p 하늘에 계신 우리 아버지여
    p 이름이 거룩히 여김을 받으시오며,
    p 나라가 임하오시며
    p 뜻이 하늘에서 이루어진 것 같이 
    p 땅에서도 이루어지이다.

  section
    h2 #{title}
    p 오늘 우리에게 일용할
    p 양식을 주옵시고,
    p 우리가 우리에게 죄 지은자를
    p 사하여 준 것 같이
    p 우리 죄를 사하여 주옵시고,

  section
    h2 #{title}
    p 우리를 시험에 들게 하지 마옵시고,
    p 다만 악에서 구하옵소서. 
    p 대개 나라와 권세와 영광이 아버지께
    p 영원히 있사옵 나이다.
    p - 아멘 -

block controls

block script